@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="FantasyFootballTitle">
        <h1 id="title">PKU Fantussy Football Database</h1>
        <p class="lead">Fantasy Football Database Web App.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="PlayerRankings">
            <h2 id="gettingStartedTitle">PlayerRankings</h2>
            <p>
                PPR Player Rankings based off of in season scoring and rest of season projections
            </p>
            <p><a class="btn btn-outline-dark" href="https://cl.gy/XWop">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Player Database</h2>
            <p>Find the information that goes into our player projections</p>
            <p><a class="btn btn-outline-dark" href="https://cl.gy/XWop">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Mock Draft</h2>
            <p>Enter your league scoring, draft format and keeper rules to get the most accurately simulated mock draft possible.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>